USE [DoctorBookingDB]
GO
/****** Object:  Table [dbo].[Врачи]    Script Date: 27.07.2025 19:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Врачи](
	[ID_врача] [int] IDENTITY(1,1) NOT NULL,
	[ФИО_врача] [nvarchar](100) NOT NULL,
	[Специализация] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_врача] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Запись]    Script Date: 27.07.2025 19:39:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Запись](
	[ID_записи] [int] IDENTITY(1,1) NOT NULL,
	[ID_врача] [int] NOT NULL,
	[ID_пациента] [int] NOT NULL,
	[Дата_записи] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пациенты]    Script Date: 27.07.2025 19:39:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пациенты](
	[ID_пациента] [int] IDENTITY(1,1) NOT NULL,
	[ФИО_пациента] [nvarchar](100) NOT NULL,
	[Телефон] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_пациента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Запись]  WITH CHECK ADD FOREIGN KEY([ID_врача])
REFERENCES [dbo].[Врачи] ([ID_врача])
GO
ALTER TABLE [dbo].[Запись]  WITH CHECK ADD FOREIGN KEY([ID_пациента])
REFERENCES [dbo].[Пациенты] ([ID_пациента])
GO
