<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="ISAPIHandler" path="Project1.dll" verb="*" modules="IsapiModule"
           scriptProcessor="C:\DelphiProjects\Zapis\Project1.dll"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <security>
      <isapiCgiRestriction>
        <add path="C:\Проект\Delphi\novoe\Project1.dll" allowed="true" />
      </isapiCgiRestriction>
    </security>
  </system.webServer>
</configuration>